:root {
  --primary: #0fd0b2;
  --secondary: #c03be1;
}

html {
  background-image: linear-gradient(to bottom, #222f3b, #6944bc);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 1em;
  margin: auto;
  min-height: calc(100vh - 6em);
  line-height: 1.75;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
}

p {
  color: #fafafa;
  font-family: Ubuntu, sans-serif;
  margin: 0.5em 0;
  text-align: center;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
}
header {
  text-align: center;
  min-height: 60px;
}
header img {
  max-width: 300px;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
main p {
  font-size: 1.3em;
}
main p a {
  color: var(--primary);
  text-decoration: none;
}
footer p {
  font-size: 0.6em;
}
